.no-margin {
	margin: 0 !important;
}

.wrap-v1 {
	width: 1100px;
	margin: 0 auto;
}

.wrap-v2 {
	width: 980px;
	margin: 0 auto;
}

.nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topbarBg {
	background: url('../img/topbar.png') no-repeat 0 -9999px;
}

.police-logo {
	background: url('../img/police.png') no-repeat;
}

.foot-enter-new {
	background: url('../img/foot_enter_new.png') no-repeat 0 -9999px;
}

.foot-enter-tt {
	background: url('../img/foot_enter_tt.png') no-repeat 0 -9999px;
}

.white-r-icon {
	background: url('../img/white_r_icon@3x.png') no-repeat;
}

.arrl {
	background: url("../img/arrl.png") no-repeat;
}
.arrl:hover {
	background: url("../img/arrl_hvr.png") no-repeat;
}

.arrr {
	background: url("../img/arrr.png") no-repeat;
}
.arrr:hover {
	background: url("../img/arrr_hvr.png") no-repeat;
}

.recommend-download {
	background: url("../img/download.png") no-repeat;
}

.recommend-download-btn {
	background: url("../img/download.png") no-repeat 0 9999px;
}
.recommend-download-btn:hover {
	background: url("../img/download.png") no-repeat 0 -290px;
}

.recommend-wrap {
	background: url("../img/wrap1.png") repeat-y;
}

.index-img {
	background: url("../img/index.png") no-repeat 0 -9999px;
}
.coverall {
	background:url("../img/coverall.png") no-repeat 0 -9990px;
}

.iconall {
	background: url("../img/iconall.png") no-repeat 0 -9999px;
}

.icon-img {
	background: url("../img/icon.png") no-repeat 0 -9999px;
}

.index-bill-img {
	background: url("../img/index_bill.png") no-repeat;
}

.btn2-img {
	background: url("../img/button2.png") no-repeat 0 -9999px;
}