.no-margin {
	margin: 0 !important;
}

.wrap-v1 {
	width: 1100px;
	margin: 0 auto;
}

.wrap-v2 {
	width: 980px;
	margin: 0 auto;
}

.topbarBg {
	background: url('../img/topbar.png') no-repeat 0 -9999px;
}

.police-logo {
	background: url('../img/police.png') no-repeat;
}

.foot-enter-new {
	background: url('../img/foot_enter_new.png') no-repeat 0 -9999px;
}

.foot-enter-tt {
	background: url('../img/foot_enter_tt.png') no-repeat 0 -9999px;
}

.white-r-icon {
	background: url('../img/white_r_icon@3x.png') no-repeat;
}